LLM_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyC0T7BuQrG_lwtVe9F6JCyQnUqAxJQ2Le0
LLM_API_METHOD=POST
LLM_API_KEY_HEADER=skip  
LLM_API_KEY_PREFIX=
LLM_API_KEY=

LLM_REQUEST_BODY_TEMPLATE='{"contents": [{"parts": [{"text": "{prompt}"}]}]}'
LLM_RESPONSE_JSON_PATH=candidates.0.content.parts.0.text

EMBEDDING_PROVIDER=huggingface
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
HF_API_TOKEN=your_hf_token
